h2 {
    color: #1900ff;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form input, form select {
    margin-bottom: 10px;
}

ul {
    margin-top: 20px;
}

ul li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
