h2, h3 {
    color: #0000ff;
}

form {
    margin-bottom: 20px;
}

.total-ventas {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

ul {
    margin-top: 20px;
}

ul li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.stock-alert {
    background-color: #fff3cd;
    color: #ff0000;
    padding: 10px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    margin-bottom: 20px;
}
